/**********************************************************TAG SELECTORS*******************************************************/
html{
    margin: 0;
}
body {
 margin: 0;
 padding: 0;
 background-color: hsl(218, 22%, 67%);
 position: relative;
 font-family: 'Karla', sans-serif;
 font-weight: 400;
 font-size: 1rem;
}
h1 {
    font-weight: 400;
    color: hsl(179, 62%, 43%);
}
h2 {
    color: hsl(71, 73%, 54%);
    font-weight: 400;
    padding-top: 5px;
}
h3 {
    font-weight: 400;
}
p {

}
ul {
    position: relative;
    right: 40px;
    list-style-type: none;
    color: hsl(204, 43%, 93%);
    padding-top: 20px;
    font-size: 1rem;

}
li {
    margin-bottom: 5px;
}
span {
    color: #ffffff;
    font-size: 2rem;
    padding-right: 12px;

}
main {
    
}
button {
    background-color: hsl(71, 73%, 54%);
    color: #ffffff;
    width: 250px;
    height: 45px;
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px 4px 4px hsl(179, 62%, 43%);
    margin: 35px auto 0 auto;
    font-size: 1rem;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin: auto;
}
/**********************************************************CLASS SELECTORS*******************************************************/
.container {
    width: 45rem;
    height: 33rem;
    background-color: hsl(218, 22%, 67%);
    margin: 100px auto;
    display: grid;
    grid-template-columns: 22.5rem 22.5rem;
    grid-template-rows: 15rem 18rem;
}
.intro {
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    grid-column: 1/3;
    text-align: left;
    padding-left: 2.5rem;
    padding-top: 25px;
    box-shadow: -1px -1px #ffffff;
}
.intro-p {
    color: hsl(218, 22%, 67%);
}
.price {
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 0 10px;
    padding-left: 2.5rem;
    padding-top: 25px;
    color: #ffffff;
    box-shadow: -1px -1px hsl(179, 62%, 43%);
}
.price p {

}
.price-p {
    color: hsl(204, 43%, 93%);
}
.about {
    background-color: #00CCCC;
    border-radius: 0 0 10px 0;
    padding-left: 2.5rem;
    padding-top: 25px;
    color: #ffffff;
    box-shadow: -1px -1px #00CCCC;
}
.about-li {
    position: relative;
    text-align: left;
    
}
.attribution { 
    font-size: 11px; 
    text-align: center;
 }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}